#neaizmirstam šeit noņemt liekos failus, kurus pavisam noteikti
#nevēlamies redzēt GitHub

fonts/inconsolata.zip

# kad bāze gatava noņemt nākamajām rindiņai "#"
# /UZMETUMI
# /gametypes
.src/
spele.html